<app-header></app-header>
<app-sider></app-sider>
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Add Style Market</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Style Market</a></li>
                                <li class="breadcrumb-item active">Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            <div class="row">
                <div class="col-12">
                	<div>
                        <a type="button" class="btn btn-success waves-effect waves-light mb-3" [routerLink]="['/v1/market/style']"><i class="mdi mdi-plus mr-1"></i> List Style Market</a> 
                    </div>
                    <div class="card">
                        <div class="card-body">

                            <div class="form-group row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Maket Name</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" placeholder="Enter Market Name" id="example-text-input" [(ngModel)]="dataValue.marketName" name="marketName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-search-input" class="col-md-2 col-form-label">Location</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" placeholder="Enter Location" id="example-search-input" [(ngModel)]="dataValue.location" name="location">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-md-2 col-form-label">Number of Employees</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" placeholder="Enter Number of Employees" id="example-email-input" [(ngModel)]="dataValue.noEmployees" name="noEmployees">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="example-email-input" class="col-md-2 col-form-label">Customer Identity</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" placeholder="Enter Customer Identity" id="example-email-input" [(ngModel)]="dataValue.customerId" name="customerId">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2 col-form-label"></label>
                                <div class="col-md-10">
                                    <button class="btn btn-primary" (click)="submitData()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
        </div>
    </div>
</div>
