<app-header></app-header>
<app-sider></app-sider>

<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Material Details</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a [routerLink]="['/v1/product/material']">Materials</a></li>
                                <li class="breadcrumb-item active">Material Details</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-5">
                                    <div class="product-detail">
                                        <div class="row">
                                            <div class="col-3">
                                                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                                    
                                                    <a class="nav-link" id="product-{{i+1}}-tab" *ngFor="let result of imageHolder; let i = index"data-toggle="pill" href="#product-{{i+2}}" role="tab">
                                                        <img src="{{defaultUrl}}/materials/{{result}}" alt="" class="img-fluid mx-auto d-block tab-img rounded">
                                                    </a>
                                                    
                                                </div>
                                            </div>

                                            <div class="col-9">
                                                <div class="tab-content position-relative" id="v-pills-tabContent">

                                                     
                                                    <div class="tab-pane fade show active" id="product-1" role="tabpanel">
                                                        <div class="product-img">
                                                            <img src="{{defaultUrl}}/materials/{{imageHolder[0]}}" alt="" class="img-fluid mx-auto d-block" data-zoom="assets/images/product/img-1.png">
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="product-{{i+2}}" role="tabpanel" *ngFor="let result of imageHolder; let i = index">
                                                        <div class="product-img">
                                                            <img src="{{defaultUrl}}/materials/{{result}}" alt="" class="img-fluid mx-auto d-block">
                                                        </div>
                                                    </div>
                                                     
                                                </div>
                                                <!-- <div class="row text-center mt-2">
                                                    <div class="col-sm-6">
                                                        <button type="button" class="btn btn-primary btn-block waves-effect waves-light mt-2 mr-1">
                                                            <i class="uil uil-shopping-cart-alt mr-2"></i> Add to cart
                                                        </button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <button type="button" class="btn btn-light btn-block waves-effect  mt-2 waves-light">
                                                            <i class="uil uil-shopping-basket mr-2"></i>Buy now
                                                        </button>
                                                    </div>
                                                </div> -->
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                            
                                <div class="col-xl-7">
                                    <div class="mt-4 mt-xl-3 pl-xl-4">
                                        <!-- <h5 class="font-size-14"><a href="#" class="text-muted">Nike</a></h5> -->
                                        <h4 class="font-size-20 mb-3">{{dataValue.materialName}} ({{dataValue.productId}})</h4>

                                        <!-- <div class="text-muted">
                                            <span class="badge badge-success font-size-14 mr-1"><i class="mdi mdi-star"></i> 4.2</span> 234 Reviews
                                        </div> -->

                                        <h5 class="mt-4 pt-2"><!-- <del class="text-muted mr-2">$280</del> -->&#8373; {{dataValue.price}} <span class="text-danger font-size-14 ml-2"><!-- - 20 % Off --></span></h5>

                                        <p class="mt-4 text-muted">{{dataValue.description}}</p>

                                        <!-- <div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="mt-3">
                                                        
                                                        <h5 class="font-size-14">Category :</h5>
                                                        <ul class="list-unstyled product-desc-list text-muted">
                                                            <li><i class="mdi mdi-circle-medium mr-1 align-middle"></i> High Quality</li>
                                                            <li><i class="mdi mdi-circle-medium mr-1 align-middle"></i> Leather</li>
                                                            <li><i class="mdi mdi-circle-medium mr-1 align-middle"></i> All Sizes available</li>
                                                            <li><i class="mdi mdi-circle-medium mr-1 align-middle"></i> 4 Different Color</li>
                                                        </ul>
                                                          
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="mt-3">
                                                        <h5 class="font-size-14">Tag :</h5>
                                                        <ul class="list-unstyled product-desc-list text-muted">
                                                            <li><i class="uil uil-exchange text-primary mr-1 font-size-16"></i> 10 Days Replacement</li>
                                                            <li><i class="uil uil-bill text-primary mr-1 font-size-16"></i> Cash on Delivery available</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->

                            <div class="mt-4">
                                <h5 class="font-size-14 mb-3">Material description: </h5>
                                <div class="product-desc">
                                    <ul class="nav nav-tabs nav-tabs-custom" role="tablist">
                                        <li class="nav-item">
                                          <a class="nav-link" id="desc-tab" data-toggle="tab" href="#desc" role="tab">Description</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link active" id="specifi-tab" data-toggle="tab" href="#specifi" role="tab">Specifications</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link " id="detail-tab" data-toggle="tab" href="#detail" role="tab">Customer</a>
                                        </li>
                                        <li class="nav-item">
                                          <a class="nav-link " id="market-tab" data-toggle="tab" href="#market" role="tab">Market</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content border border-top-0 p-4">
                                        <div class="tab-pane fade" id="desc" role="tabpanel">
                                            <div class="row">
                                                 <div class="col-sm-12 col-md-12">
                                                    <div class="text-muted p-2">
                                                        <p>{{dataValue.description}}</p>
													</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade show active" id="specifi" role="tabpanel">
                                            <div class="table-responsive">
                                                <table class="table table-nowrap mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" style="width: 20%;">Category</th>
                                                            <td>{{dataValue.category}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Brand</th>
                                                            <td>{{dataValue.manufacturerBrand}}</td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <th scope="row">Color</th>
                                                            <td>Gray</td>
                                                        </tr> -->
                                                        <tr>
                                                            <th scope="row">Quality</th>
                                                            <td>High</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Tag</th>
                                                            <td>{{dataValue.tag}}</td>
                                                        </tr>
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade show " id="detail" role="tabpanel">
                                            <div class="table-responsive">
                                                <table class="table table-nowrap mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" style="width: 20%;">Customer ID</th>
                                                            <td>{{dataValue.customerId}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Customer Name</th>
                                                            <td>{{dataValue.customerName | titlecase}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Date</th>
                                                            <td>{{dataValue.dateCreated}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade show " id="market" role="tabpanel">
                                            <div class="table-responsive">
                                                <table class="table table-nowrap mb-0">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row" style="width: 20%;">Market ID</th>
                                                            <td>{{dataValue.market.marketId}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Market Name</th>
                                                            <td>{{dataValue.market.marketName | titlecase}}</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">Market Location</th>
                                                            <td>{{dataValue.market.location | titlecase}}</td>
                                                        </tr>
                                                         
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4">
                                <h5 class="font-size-14 mb-3">Reviews : </h5>
                                <div class="text-muted mb-3">
                                     {{dataValue.review.length}} Reviews
                                </div>
                                <div class="border p-4 rounded">
                                    <div class="border-bottom pt-4 pb-3" *ngFor="let review of dataValue.review">
                                        <p class="float-sm-right text-muted font-size-13">{{review.dateCreated}}</p>
                                         
                                        <p class="text-muted mb-4">{{review.comment}}</p>
                                        <div class="media">
                                            <div class="media-body">
                                                <h5 class="font-size-15 mb-0">{{review.name}} ({{review.email}})</h5>
                                            </div>

                                            
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
            
        </div> <!-- container-fluid -->
    </div>
    <!-- End Page-content -->
</div>
<!-- end main content-->