<app-header></app-header>
<app-sider></app-sider>
 <div class="main-content">
	<div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">List Materials</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Materials</a></li>
                                <li class="breadcrumb-item active">All</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
							<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
	                                <tr>
                                        <th>Material ID </th>
	                                    <th>Material Name</th>
	                                    <th>Customer ID </th>
	                                    <th>Customer Name</th>
	                                    <th>Market ID</th>
	                                    <th>Action</th>
	                                </tr>
                                </thead>


                                <tbody>
                                	<tr *ngFor="let item of data">
                                        <td>
                                            <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-xs rounded-circle mr-2">
                                            <span>{{item.productId}}</span>
                                        </td>
	                                    <td>{{item.materialName | titlecase}}</td>
	                                    <td>{{item.customerId}}</td>
	                                    <td>{{item.customerName | titlecase}}</td>
	                                    <td>{{item.market.marketId}}</td>
	                                    <td>
                                            <a [routerLink]="['/v1/product/material', item.urlId]" class="px-1 text-success" data-toggle="tooltip" data-placement="top" title="View"><i class="uil uil-subject font-size-18"></i></a>
                                            <a [routerLink]="['/v1/product/material', item.urlId, 'edit']" class="px-1 text-primary" data-toggle="tooltip" data-placement="top" title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-1 text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="uil uil-trash-alt font-size-18" (click)="onDelete(item.urlId)"></i></a>
                                            <a href="javascript:void(0);" class="px-1 text-info" data-toggle="tooltip" data-placement="top" title="Request"><i class="uil uil-phone font-size-18" ></i></a>
                                        </td>
	                                </tr>
	                                
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div> 
            </div> 

        </div>
    </div>
                
</div>
            