<app-header></app-header>
<app-sider></app-sider>
<div class="main-content">
	<div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Pending Order</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Orders</a></li>
                                <li class="breadcrumb-item active">Pending</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
							<table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
	                                <tr>
                                        <th>SN</th>
	                                    <th>Product ID</th>
	                                    <th>Order Reason</th>
	                                    <th>Quantity</th>
                                        <th>Amount</th>
	                                    <th>Consumer Name</th>
	                                    <th>Telephone</th>
                                        <th>Date</th>
	                                    <th>Action</th>
	                                </tr>
                                </thead>


                                <tbody>
                                	<tr *ngFor="let item of data; let i = index">
                                        <td>{{i+1}}</td>
	                                    <td>{{item.productId}}</td>
	                                    <td>{{item.orderReason}}</td>
	                                    <td>{{item.quantity}}</td>
	                                    <td>{{item.amount}}</td>
	                                    <td>Asiedu Henry Kwasi</td>
	                                    <td>0247049416</td>
                                        <td>{{item.dateCreated}}</td>
                                        <td>
                                            <button class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-center" (click)="onSetId(item.urlId)">Proceed</button>
                                        </td>
	                                </tr> 
	                                
                                </tbody>
                            </table>

                        </div>
                    </div>

                </div> 
            </div> 
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-center my-3">
                        <div class="spinner-border text-secondary" style="margin: 0px 10px;"  role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                
</div>
      
<!--  Modal Data  -->
<div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Market Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-md-3 col-form-label">Market ID</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" placeholder="Enter Market ID" id="example-text-input"   name="marketId" [(ngModel)]="value.marketId">
                        </div>
                    </div>
                </form>
            </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" (click)="onProceed()">Proceed</button>
            </div>
        </div> 
    </div> 
</div> 
