<app-header></app-header>
<app-sider></app-sider>
<div class="main-content">
	<div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Customers</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Customers</a></li>
                                <li class="breadcrumb-item active">All</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->
            
            <div class="row">
                <div class="col-lg-12">
                    <div>
                        <div>
                            <a type="button" class="btn btn-success waves-effect waves-light mb-3" [routerLink]="['/v1/entries/customer/add']"><i class="mdi mdi-plus mr-1" ></i> Add customer</a> 
                        </div>

                        <div class="table-responsive mb-4">
                            <table class="table table-centered datatable dt-responsive nowrap table-card-list" style="border-collapse: collapse; border-spacing: 0 12px; width: 100%;">
                                <thead>
                                    <tr class="bg-transparent">
                                        <th style="width: 120px;">Customer ID</th>
                                        <th>Full Name</th>
                                        <th>Email</th>
                                        <th>Telephone</th>
                                        <th style="width: 120px;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of data">
                                        <td><a href="javascript: void(0);" class="text-dark font-weight-bold">{{item.customerId}}</a> </td>
                                        <td>
                                            <!-- <img src="assets/images/users/avatar-2.jpg" alt="" class="avatar-xs rounded-circle mr-2"> -->
                                            <span>{{item.surname}} {{item.otherName}}</span>
                                        </td>
                                        <td>{{item.email}}</td>
                                        
                                        
                                        <td>
                                            {{item.telephone}}
                                        </td>
                                        <td>
                                            <a [routerLink]="['/v1/entries/customer', item.urlId]" class="px-1 text-info" data-toggle="tooltip" data-placement="top" title="Profile"><i class="uil uil-book font-size-18"></i></a>
                                            <a [routerLink]="['/v1/entries/customer', item.urlId, 'edit']" class="px-1 text-primary" data-toggle="tooltip" data-placement="top" title="Edit"><i class="uil uil-pen font-size-18"></i></a>
                                            <a href="javascript:void(0);" class="px-1 text-danger" data-toggle="tooltip" data-placement="top" title="Delete"><i class="uil uil-trash-alt font-size-18" (click)="onDelete(item.urlId)"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="spinner-border text-secondary" style="margin: 0px 10px"  role="status"><span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            