<app-header></app-header>
<app-sider></app-sider>
<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-0">Add Style</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Style</a></li>
                                <li class="breadcrumb-item active">Add</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div> 
            <!-- end page title -->

            <div class="row">
                <div class="col-lg-12">
                    <div id="addproduct-accordion" class="custom-accordion">
                        <div class="card">
                            <a href="#addproduct-billinginfo-collapse" class="text-dark" data-toggle="collapse" aria-expanded="true" aria-controls="addproduct-billinginfo-collapse">
                                <div class="p-4">
                                    
                                    <div class="media align-items-center">
                                        <div class="mr-3">
                                            <div class="avatar-xs">
                                                <div class="avatar-title rounded-circle bg-soft-primary text-primary">
                                                    01
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-16 mb-1">Billing Info</h5>
                                            <p class="text-muted text-truncate mb-0">Fill all information below</p>
                                        </div>
                                        <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                                    </div>
                                    
                                </div>
                            </a>

                            <div id="addproduct-billinginfo-collapse" class="collapse show" data-parent="#addproduct-accordion">
                                <div class="p-4 border-top">
                                    <form>
                                        <div class="form-group">
                                            <label for="materialName">Material Name</label>
                                            <input id="materialName" name="materialName" type="text" class="form-control" [(ngModel)]="dataValue.materialName">
                                            <span style="color:red; margin-left: 18%; font-style: italic;">{{errorMessage.materialName}}</span>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                
                                                <div class="form-group">
                                                    <label for="manufacturerBrand">Manufacturer Brand</label>
                                                    <input id="manufacturerBrand" name="manufacturerBrand" type="text" class="form-control" [(ngModel)]="dataValue.manufacturerBrand">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="price">Price</label>
                                                    <input id="price" name="price" type="text" class="form-control" [(ngModel)]="dataValue.price">
                                                    <span style="color:red; margin-left: 18%; font-style: italic;">{{errorMessage.price}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="price">Quantity</label>
                                                    <input id="quantity" name="quantity" type="text" class="form-control" [(ngModel)]="dataValue.quantity">
                                                    <span style="color:red; margin-left: 18%; font-style: italic;">{{errorMessage.quantity}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Category</label>
                                                    <select class="form-control select2"  name="category" [(ngModel)]="dataValue.category" id="category">
                                                        <option>Select</option>
                                                        <option value="GTP">GTP</option>
                                                        <option value="Woodin">Woodin</option>
                                                        <option value="Holland">Holland</option>
                                                    </select>
                                                    <span style="color:red; margin-left: 18%; font-style: italic;">{{errorMessage.category}}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Tag</label>
    
                                                    <select class="select2 form-control select2-multiple" multiple="multiple" data-placeholder="Choose ..." name="tag" [(ngModel)]="dataValue.tag" id="tag">
                                                        <option value="Wedding" >Wedding</option>
                                                        <option value="Dinner" >Dinner</option>
                                                        <option value="Church" selected>Church</option>
                                                        <option value="Office">Office</option>
                                                        
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-0">
                                            <label for="productdesc">Product Description</label>
                                            <textarea class="form-control" id="productdesc" rows="4" name="description" [(ngModel)]="dataValue.description"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <a href="#addproduct-img-collapse" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="addproduct-img-collapse">
                                <div class="p-4">
                                    
                                    <div class="media align-items-center">
                                        <div class="mr-3">
                                            <div class="avatar-xs">
                                                <div class="avatar-title rounded-circle bg-soft-primary text-primary">
                                                    02
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-16 mb-1">Product Image</h5>
                                            <p class="text-muted text-truncate mb-0">Fill all information below</p>
                                        </div>
                                        <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                                    </div>
                                    
                                </div>
                            </a>

                            <div id="addproduct-img-collapse" class="collapse" data-parent="#addproduct-accordion">
                                <div class="p-4 border-top">
                                    <ngx-dropzone (change)="onSelect($event)">
                                      <ngx-dropzone-label>Drop files here or click to upload</ngx-dropzone-label>
                                      <ngx-dropzone-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)" [file]>
                                        <ngx-dropzone-label>{{ f.name }} ({{ f.size }})kb</ngx-dropzone-label>
                                      </ngx-dropzone-preview>
                                    </ngx-dropzone>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <a href="#addproduct-metadata-collapse" class="text-dark collapsed" data-toggle="collapse" aria-expanded="false" aria-controls="addproduct-metadata-collapse">
                                <div class="p-4">
                                    
                                    <div class="media align-items-center">
                                        <div class="mr-3">
                                            <div class="avatar-xs">
                                                <div class="avatar-title rounded-circle bg-soft-primary text-primary">
                                                    03
                                                </div>
                                            </div>
                                        </div>
                                        <div class="media-body overflow-hidden">
                                            <h5 class="font-size-16 mb-1">Customer Data</h5>
                                            <p class="text-muted text-truncate mb-0">Fill all information below</p>
                                        </div>
                                        <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                                    </div>
                                    
                                </div>
                            </a>

                            <div id="addproduct-metadata-collapse" class="collapse" data-parent="#addproduct-accordion">
                                <div class="p-4 border-top">
                                    <form>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="metatitle">Customer Name</label>
                                                    <input id="metatitle" name="customerName" type="text" class="form-control" [(ngModel)]="dataValue.customerName">
                                                    <span style="color:red; margin-left: 18%; font-style: italic;">{{errorMessage.customerName}}</span>
                                                </div>
                                                
                                            </div>
    
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label for="metakeywords">Customer Identity Number</label>
                                                    <input id="metakeywords" name="customerId" type="text" class="form-control" [(ngModel)]="dataValue.customerId">
                                                    <span style="color:red; margin-left: 18%; font-style: italic;">{{errorMessage.customerId}}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group mb-0">
                                            <label for="metadescription">Meta Description</label>
                                            <textarea class="form-control" id="metadescription" rows="4"></textarea>
                                        </div> -->
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

            <div class="row mb-4">
                <div class="col text-right">
                    <a href="javascript:void(0)" (click)="onSaveStyle()" class="btn btn-success"> <i class="uil uil-file-alt mr-1"></i> Save </a>
                    <div class="spinner-border text-secondary" style="margin: 0px 10px; display: none"  role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
            
            